#postText {
  height:150px;
}

#footer {
  padding-bottom:8px;
}

.PostCard {

}

.AppPageContent {
  
}

.AppPageBody {
  height: calc(100% - 300px) !important;
}

.AppPageHeader {
  height: 50px !important; 
  overflow: hidden;
  
}
