<div ng-controller="homeController" layout="column" ng-cloak >
  <md-content layout-padding class="md-padding" id="AppContentsHeader">
    <section layout="row" layout-align="center start">
      <div class="md-display-1">Welcome to Vita</div>
    </section>  
  </md-content>
  <md-content  layout-padding class="md-padding" id="AppContentsBody" >
    <section class="md-padding" layout="row" layout-align="center start" layout-wrap layout-align="space-between start" >
      <md-card ng-repeat="post in RecentPosts" flex="100" ng-style="{'background-color':'white'}" class="PostCard" >
        <md-card-header>
          <md-card-header-text>
            <span class="md-title" >{{ PostService.GetPostDateString(post.PostDateTime) }}</span>
            <span class="md-subhead" >{{ PostService.GetLocationString(post.Location) }}</span>
          </md-card-header-text>
        </md-card-header>   
        <md-card-content>
          <p>{{ post.Text}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-href="#post/{{ post._id }}" class="md-raised md-accent">Edit</md-button>            
        </md-card-actions>  
      </md-card>  
    </section>
  </md-content>      
</div>