<div ng-controller="homeController" layout="column" ng-cloak>
  <md-content  layout-padding class="md-padding">
    <section layout="row" layout-align="center start">
      <div> 
        <div class="md-display-1">Welcome to Vita</div>
      </div>
    </section>  
  </md-content>
  <md-content  layout-padding class="md-padding" style="height:100%;">
    <section class="md-padding" layout="row" layout-align="center start" ng-repeat="post in RecentPosts" >
      <div flex="70" flex-md="80" flex-sm="90" flex-xs="100" layout="column">
        <md-card ng-style="{'background-color':'white'}">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{ PostService.GetPostDateString(post.PostDateTime) }}</span>
              <span class="md-subhead">{{ PostService.GetLocationString(post.Location) }}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>{{ post.Text }}</p>
          </md-card-content>
        </md-card>  
      </div>      
    </section>
  </md-content>
</div>